{% extends "components/layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}

    <head>
        <style type="text/css">
          body {
            background-color: rgb(0, 28, 65);
          }
        </style>
    </head>
    <body>
        <div class="row m-sm-5 m-3">
          <h1 style="color:white" class="col">Send code</h1>
        </div>
        <section class="row justify-content-center">
          <form method="POST" action="/send_email_forgot_password" class="col-sm-5 col-10">
            <div class="mb-3">
              <input name="email" type="text" class="form-control" id="InputEmail" required placeholder="Enter your account email"/>
            </div>
            <button type="submit" class="btn btn-primary">Send code</button>
          </form>
        </section>
    </body>
{% endblock %}