{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}

<html lang="es">
    <head>
      <script type="text/javascript">
          name = "access_token"
          value = "{{ data_user.get("token") }}"

          var curCookie = name + "=" + value;

          document.cookie = curCookie;
      </script>
      <style type="text/css">
          body {
            background-color: rgb(0, 28, 65);
          }
          .row {
            margin-top: 5%;
          }

          .btn-primary {
            padding: 10px 25px;
            margin: 4px 2px;
          }
      </style>
    </head>
    <body>
      <div class="row justify-content-center">
        <div class="card col-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Hi <mark>{{ data_user.get("username") }}</mark></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <mark>{{ data_user.get("email") }}</mark></li>
          </ul>
              <div class="col-12">
                <br>
                    <form action="/change_password">
                      <button class="btn btn-primary" type="submit">Change password</button>
                    </form>

                    <form action="/logout">
                      <button class="btn btn-primary" type="submit">Logout</button>
                    </form>

                    <form action="/create_new_task">
                      <button class="btn btn-primary" type="submit">Create task</button>
                    </form>

                    <form action="/my_tasks">
                      <button class="btn btn-primary" type="submit">My tasks</button>
                    </form>
              </div>
        </div>
      </div>
    </body>
</html>


{% endblock %}