{% extends "components/layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<html lang="es">
    <head>
      <script type="text/javascript">
            document.cookie = "access_token" + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      </script>
      <style type="text/css">
          body {
            background-color: rgb(0, 28, 65);
          }
      </style>
    </head>
    <body>
      <div class="row m-sm-5 m-3">
        <h1 style="color:white" class="col">Login</h1>
      </div>
      <section class="row justify-content-center">
        <form method="POST" action="/home" class="col-sm-5 col-10">
          <div class="mb-3">
            <label style="color:white" for="exampleInputUsername" class="form-label">Email</label>
            <input
              name="email"
              type="text"
              class="form-control"
              id="exampleInputUsername"
              required
            />
          </div>
          <div class="mb-3">
            <label style="color:white" for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password_user" type="password" class="form-control" id="exampleInputPassword1" required/>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </section>
    </body>
{% endblock %}