{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}

<html lang="es">
    <head>
        <style>
            body {
                background-color: rgb(0, 28, 65);
            }
            .card {
                margin-bottom: 2px;
            }
            .container {
                  display: grid;
                  gap: 1rem;
                  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            }
            .list-group-item {
                font-family: "Lucida Console", "Courier New", monospace;
                font-size: 12px;
            }
        </style>
        <script>
            window.onload = function() {
                var cookies = document.cookie;
                var cookiesArray = cookies.split(";");
                var token = null;

                for(var i = 0; i < cookiesArray.length; i++) {
                  var cookie = cookiesArray[i].trim();
                  if(cookie.indexOf("access_token=") == 0) {
                    token = cookie.substring("access_token=".length, cookie.length);
                    break;
                  }
                }

                const formElement = document.getElementById('goHome');
                const newUrl = '/home/redirect/'+ token;
                formElement.action = newUrl;

                var header = document.getElementsByTagName('header')[0];
                header.parentNode.removeChild(header);

                var json = "{{data_task}}"
                var object = JSON.parse(json.replace(/&#(\d+);/g, function(match, dec) {
                   return String.fromCharCode(dec);
                }));
                var containerCreated = document.createElement("div");
                containerCreated.classList.add("container");
                containerCreated.id = 'con';
                containerCreated.style.marginTop = "15px";

                for (var i = 0; i < object.length; i++) {

                    var divCreated = document.createElement("div");
                    divCreated.classList.add("card", "col-5");
                    divCreated.style.width = 'fit-content';
                    divCreated.id = 'div';

                    var ulCreated = document.createElement("ul");
                    ulCreated.classList.add("list-group", "list-group-flush");

                    document.body.appendChild(containerCreated);
                    containerCreated.appendChild(divCreated);
                    divCreated.appendChild(ulCreated);

                    for (var key in object[i]) {
                        if (object[i].hasOwnProperty(key)) {
                            var x = document.createElement("li");
                            x.classList.add("list-group-item");
                            x.innerHTML = key.toUpperCase() + ": " + object[i][key];
                            ulCreated.appendChild(x);
                        }
                    }
                }
            }
        </script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <form id="goHome" method="GET" action="/home">
                  <input type="hidden" name="data" value="some_data">
                  <button type="submit" class="navbar-brand">Home</button>
                </form>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </nav>
        </header>
    </body>
</html>

{% endblock %}