{% extends "components/layout.html" %} {% block title %}Profile{% endblock %} {%
block content %}

<html lang="es">
    <head>
      <script type="text/javascript"> </script>
      <style>
        body {
            background-color: rgb(0, 28, 65);
        }
        .card {
            background-color: blue;
            margin-bottom: 2%;
        }
        .container {
              padding: 2%;
              display: flex;
              width: 800px;
              height: 400px;
              margin: auto;
              flex-wrap: wrap;
              justify-content: space-between;
        }
      </style>
    </head>
    <body>
        <div class="container">
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>

            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
            <div class="card col-5" style="width: 23.5%">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                    <li class="list-group-item">TEST</li>
                </ul>
            </div>
        </div>
    </body>
</html>

{% endblock %}