{% extends "components/layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}

    <head>
        <style type="text/css">
          body {
            background-color: rgb(0, 28, 65);
          }
        </style>
    </head>
    <body>
        <div class="row m-sm-5 m-3">
          <h1 style="color:white" class="col">Reset password</h1>
        </div>
        <section class="row justify-content-center">
          <form method="POST" action="/forgot_password" class="col-sm-5 col-10">
            <div class="mb-3">
              <input name="validation_code" type="text" class="form-control" id="InputCode" required placeholder="Verification code"/>
            </div>
            <div class="mb-3">
              <input name="new_pass" type="password" class="form-control" id="InputPass" required placeholder="New password"/>
            </div>
            <div class="mb-3">
              <input name="repeat_new_pass" type="password" class="form-control" id="InputPass2" required placeholder="Repeat new password"/>
            </div>
              <input type="hidden" name="user_email" value="{{ email }}">
              <button type="submit" class="btn btn-primary">Accept</button>
          </form>
        </section>
    </body>
{% endblock %}